* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}
h1 {
  color: rgb(78, 118, 132);
}
h2 {
  color: rgb(122, 122, 122);
  text-decoration: underline;
  font-size: medium;
}
li {
  font-weight: bold;
}
#petOwnershipChart {
  width: 80%;
  margin-bottom: 0px;
}
figcaption {
  width: 80%;
  font-size: small;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  font-size: x-large;
  color: rgb(78, 118, 132);
}
div {
  display: flex;
}
.pet_image {
  width: 25%;
}
footer {
  font-weight: bold;
  text-decoration: underline;
}
